body {
    background-color: #f7f7fb;
}

.graficos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.grafico-tamanho {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.grafico-tamanho:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.grafico-tamanho h2 {
    text-align: center;
    font-size: 18px;
}